# Poetry
__pychache__/
.poetry/
*.egg-info/
/.venv
dist/

# Pycharm files
.idea/

# MacOS
.DS_Storage

# Virtual variables
.env

# Download folder
downloads/

# Session files
*.session
*.session-journal

# Log
*.log
