API_ID=api_id
API_HASH=api_hash

WORDPRESS_RU_HIDDEN_URL=https://hidden.url/
WORDPRESS_RU_USERNAME=admin
WORDPRESS_RU_PASSWORD=admin_pass
WORDPRESS_RU_AUTHOR_ID=1
GROUP_RU_ID=-123123123

WORDPRESS_KG_USERNAME=admin
WORDPRESS_KG_PASSWORD=admin_pass
WORDPRESS_KG_AUTHOR_ID=1
GROUP_KG_ID=-234234234

ADMIN_USERNAME=admin_username
